<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} !
  </h1>

  <button type="button" class="btn btn-primary">Primary</button>
  <!--
  <p>{{name}}</p>

  <h2>
    {{roshini}}
<br><br>
{{ 4+11}}
<br>
<br>
    Method Call: {{ sayHello() }}
<br><br>
    Method Call: {{ funcSayHello() }}
  </h2>
  <hr>
  Calling Logo Component : <app-logo></app-logo>
  <div class="reviewcontainer">
Review Component : <cts-review></cts-review>
</div>
</div>
Recalling works:<cts-review></cts-review>
<hr>
<h1>Directive Demo</h1>
<cts-ngfor-component></cts-ngfor-component>
-->
<hr>
<!--Notepad content-->
<!--<a routerLink="/review">Review</a> &nbsp; &nbsp;
<a routerLink="/logo">Logo</a> &nbsp; &nbsp;
<a routerLink="/directive">Directive</a>&nbsp; &nbsp;
<a routerLink="/inbuiltpipe">InbuiltPipe</a>&nbsp; &nbsp;
<a routerLink="/todo">Todo</a>&nbsp; &nbsp;
<a routerLink="/form">Form</a>&nbsp; &nbsp;
<a routerLink="/useservice1">Use Service1</a>&nbsp; &nbsp;
<a routerLink="/useservice2">Use Service2</a>&nbsp; &nbsp;
<a routerLink="/assignment">Assignment</a>&nbsp; &nbsp;
<a routerLink="/consume-remote">Consume</a>&nbsp; &nbsp;
<a routerLink="/employee">Employee</a>&nbsp; &nbsp;
<a routerLink="/friends">Friends</a>&nbsp; &nbsp;
<a routerLink="/animateText">Animate</a>&nbsp; &nbsp;-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>Angular First</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/logo">Logo</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/review">Review <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/directive">Directive</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/inbuiltpipe">Inbuilt Pipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/todo">TODO</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/form">Forms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/parent">Parent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/child">Child</a>
            </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Other Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/useservice1">Use Service1</a>
          <a class="dropdown-item" routerLink="/useservice2">Use Service2</a>
          <a class="dropdown-item" routerLink="/assignment">Assignment</a>
          <a class="dropdown-item" routerLink="/consume-remote">Consume</a>
          <a class="dropdown-item" routerLink="/employee">Employee</a>
          <a class="dropdown-item" routerLink="/friends">Friends</a>
          <a class="dropdown-item" routerLink="/animateText">Animate</a>
          
         
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<router-outlet></router-outlet>


